Repository CanalTP/transit_model, pull requests merged in 2019-09, with the labels that each got.

#339 Remove duplicate validity pattern in TransXChange
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/documentation/transxchange_to_ntfs_specs.md
  src/transxchange/read.rs
Labels: transxchange_lot2

#340 Sanitize collections in TransXChange
  fixtures/transxchange2ntfs/input/naptan/StopAreas.csv
  fixtures/transxchange2ntfs/input/naptan/StopsInArea.csv
  fixtures/transxchange2ntfs/input/transxchange/no-mode.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/calendar.txt
  fixtures/transxchange2ntfs/output/ntfs/companies.txt
  fixtures/transxchange2ntfs/output/ntfs/routes.txt
  fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  fixtures/transxchange2ntfs/output/ntfs/stops.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/transxchange/read.rs
Labels: transxchange_lot2

#345 Upgrade network/company name if possible
  fixtures/transxchange2ntfs/input/transxchange/no-mode.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/companies.txt
  fixtures/transxchange2ntfs/output/ntfs/lines.txt
  fixtures/transxchange2ntfs/output/ntfs/networks.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/collection.rs
  src/transxchange/read.rs
Labels: transxchange_lot2

#348 Sort filenames for TransXChange parsing
  src/transxchange/read.rs
Labels: transxchange_lot2

#347 Add 'head_sign' for trips in TransXChange
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/transxchange/read.rs
Labels: transxchange_lot2

#355 Remove forward_direction and backward_direction in lines.txt for TransXChange
  src/documentation/transxchange_to_ntfs_specs.md
Labels: transxchange_lot2

#361 Overrides PickUp and DropOff
  src/transxchange/read.rs
  tests/fixtures/transxchange2ntfs/input/transxchange/01_no-mode.xml
  tests/fixtures/transxchange2ntfs/input/transxchange/02_simple.xml
  tests/fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  tests/fixtures/transxchange2ntfs/output/ntfs/trips.txt
Labels: need_review, transxchange_lot2

#354 Add complementary codes for Stop Points in NaPTAN
  src/transxchange/naptan.rs
  tests/fixtures/transxchange2ntfs/input/naptan/StopAreas.csv
  tests/fixtures/transxchange2ntfs/input/naptan/Stops.csv
  tests/fixtures/transxchange2ntfs/output/ntfs/object_codes.txt
  tests/read_transxchange.rs
Labels: transxchange_lot2

#353 Add bank holidays management in TransXChange
  Cargo.toml
  src/transxchange/bank_holidays.rs
  src/transxchange/mod.rs
  src/transxchange/operating_profile.rs
  src/transxchange/read.rs
  tests/fixtures/transxchange2ntfs/input/bank-holiday.json
  tests/fixtures/transxchange2ntfs/input/transxchange/02_simple.xml
  tests/fixtures/transxchange2ntfs/output/ntfs/calendar_dates.txt
  tests/read_transxchange.rs
Labels: transxchange_lot2

#370 Netex IDF - Load networks and companies
  src/netex_idf/lines.rs
  src/netex_idf/mod.rs
  src/netex_idf/read.rs
Labels: need_review

#373 [feature] Netex IDF: read stop points
  src/netex_idf/stops.rs
Labels: netex

#375 Netex idf networks companies (update)
  src/netex_idf/lines.rs
Labels: need_review, netex

#374 Netex stops: split code in some functions
  src/netex_idf/stops.rs
Labels: netex

#377 [Netex IDF] init integration tests
  src/netex_idf/read.rs
  src/netex_idf/stops.rs
  tests/fixtures/netexidf2ntfs/input/config.json
  tests/fixtures/netexidf2ntfs/input/netex/arrets.xml
  tests/fixtures/netexidf2ntfs/input/netex/lignes.xml
  tests/fixtures/netexidf2ntfs/output/companies.txt
  tests/fixtures/netexidf2ntfs/output/contributors.txt
  tests/fixtures/netexidf2ntfs/output/datasets.txt
  tests/fixtures/netexidf2ntfs/output/feed_infos.txt
  tests/fixtures/netexidf2ntfs/output/networks.txt
  tests/fixtures/netexidf2ntfs/output/object_codes.txt
  tests/fixtures/netexidf2ntfs/output/object_properties.txt
  tests/fixtures/netexidf2ntfs/output/stops.txt
  tests/netexidf2ntfs.rs
Labels: netex IDF

#379 [Netex IDF] add stop equipments
  Cargo.toml
  src/kv1/read.rs
  src/netex_idf/stops.rs
  src/objects.rs
  tests/fixtures/netexidf2ntfs/input/netex/arrets.xml
  tests/fixtures/netexidf2ntfs/output/stops.txt
Labels: netex IDF

#376 NetexIDF - Load lines
  src/netex_idf/lines.rs
  tests/fixtures/netexidf2ntfs/input/netex/lignes.xml
  tests/fixtures/netexidf2ntfs/output/companies.txt
  tests/fixtures/netexidf2ntfs/output/lines.txt
  tests/fixtures/netexidf2ntfs/output/networks.txt
  tests/netexidf2ntfs.rs
Labels: netex IDF

#388 Create netex_utils module with 'get_value_in_keylist'
  src/hellogo_fares/read.rs
  src/hellogo_fares/utils.rs
  src/lib.rs
  src/netex_utils/mod.rs
Labels: netex IDF
