Repository CanalTP/transit_model, pull requests merged in 2019-08, with the labels that each got.

#312 Load lines and modes from TransXChange
  fixtures/transxchange2ntfs/input/transxchange/no-mode.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/commercial_modes.txt
  fixtures/transxchange2ntfs/output/ntfs/companies.txt
  fixtures/transxchange2ntfs/output/ntfs/lines.txt
  fixtures/transxchange2ntfs/output/ntfs/networks.txt
  fixtures/transxchange2ntfs/output/ntfs/physical_modes.txt
  src/documentation/kv1_read.md
  src/transxchange/read.rs
  tests/read_transxchange.rs
Labels: transxchange

#313 Make 'read_config' return unique contributor/dataset
  src/gtfs/mod.rs
  src/gtfs/read.rs
  src/kv1/mod.rs
  src/read_utils.rs
  src/transxchange/read.rs
Labels: transxchange

#314 Implementation of From<T> for Collection<T> and CollectionWithId<T>
  src/collection.rs
  src/gtfs/write.rs
  src/model.rs
  src/ntfs/mod.rs
  src/ntfs/write.rs
  src/transxchange/read.rs
Labels: enhancement

#317 Enhance TryOnlyChild with filters
  src/minidom_utils/try_only_child.rs
Labels: enhancement, transxchange

#321 Load routes, trips and stop times for TransXChange
  Cargo.toml
  fixtures/transxchange2ntfs/input/naptan/Stops.csv
  fixtures/transxchange2ntfs/input/transxchange/no-mode.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  fixtures/transxchange2ntfs/output/ntfs/stops.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/objects.rs
  src/transxchange/read.rs
  tests/read_transxchange.rs
Labels: transxchange

#322 Handle missing OperatorRef in VehicleJourney for TransXChange
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  src/transxchange/read.rs
Labels: need_review, transxchange

#318 Add Website and phone number for networks
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/networks.txt
  src/transxchange/read.rs
Labels: need_review, transxchange

#323 Generate Calendar Dates for TransXChange
  fixtures/transxchange2ntfs/input/transxchange/no-mode.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/calendar.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/transxchange/read.rs
  tests/read_transxchange.rs
Labels: need_review, transxchange

#324 Add routes to TransXChange
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/routes.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/transxchange/read.rs
  tests/read_transxchange.rs
Labels: transxchange

#308 Specs TXC: adding routes
  src/documentation/transxchange_read.md
Labels: transxchange

#333 [Fix] Suffixing VehicleJourney Id
  fixtures/transxchange2ntfs/input/transxchange/simple-duplicate-vj.xml
  fixtures/transxchange2ntfs/output/ntfs/calendar.txt
  fixtures/transxchange2ntfs/output/ntfs/datasets.txt
  fixtures/transxchange2ntfs/output/ntfs/feed_infos.txt
  fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/documentation/transxchange_read.md
  src/transxchange/read.rs
Labels: need_review, transxchange

#337 Remove 'transxchange' feature
  .travis.yml
  Cargo.toml
  src/lib.rs
  tests/read_kv1.rs
  tests/read_transxchange.rs
Labels: transxchange

#336 [Feature] [TransXChange] Add max_end_date limit option
  fixtures/transxchange2ntfs/input/transxchange/simple-duplicate-vj.xml
  fixtures/transxchange2ntfs/input/transxchange/simple.xml
  fixtures/transxchange2ntfs/output/ntfs/calendar.txt
  fixtures/transxchange2ntfs/output/ntfs/datasets.txt
  fixtures/transxchange2ntfs/output/ntfs/feed_infos.txt
  fixtures/transxchange2ntfs/output/ntfs/stop_times.txt
  fixtures/transxchange2ntfs/output/ntfs/trips.txt
  src/bin/transxchange2ntfs.rs
  src/transxchange/read.rs
  tests/read_transxchange.rs
Labels: need_review, transxchange

#328 Factorize the StopArea creation for orphan StopPoint
  src/gtfs/read.rs
  src/ntfs/read.rs
  src/objects.rs
  src/transxchange/naptan.rs
Labels: transxchange_lot2
